* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-app {
    height: 600px;
    width: 420px;
    background-color: burlywood;
    border-radius: 20px;
    padding: 15px;
}